.coruselMenu a{
	width: 200px;
}
.catColumn{
	width: 229px;
}
.articleInColumn{
	width: 215px;
}
.select{
	width: 200px;
}
.download{
	height: 120px;
	width: 172px;
}
a.archive{
	margin-top: -20px;
}
a.aboutLink{
	margin-top: -20px;
	display: block;
	margin-left: 150px;
}

.noise{
	left: 0;
}
.articleInColumn a{
	font-weight: bold;
}

.headerMenu li div{
	height: 49px;
	margin-top: 45px;
}

